<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="log_dir" value="e:/ex/logback" />

	<!-- 控制台输出日志 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 日志文件输出日志 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>210</maxHistory>
		</rollingPolicy>
		<encoder>
			<!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.web" level="INFO" />

	<logger name="com.szhis.frsoft" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

</configuration>